#### Limpiar el siguiente dataset 
 data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 32, None, 42, 28],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],
    'Género': ['M', 'F', None, 'F', 'M'],
    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],
    'Altura': [175, 163, 180, 158, 170],
    'Peso': [70, None, 80, 60, 75],
    'Ingresos': [50000, 60000, 40000, None, 55000]
 }

In [5]:
import pandas as pd
#Importar el dataset y volverlo un dataframe

data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 32, None, 42, 28],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],
    'Género': ['M', 'F', None, 'F', 'M'],
    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],
    'Altura': [175, 163, 180, 158, 170],
    'Peso': [70, None, 80, 60, 75],
    'Ingresos': [50000, 60000, 40000, None, 55000]
}

dataf = pd.DataFrame(data)
dataf

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  María  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [6]:
df = dataf
promedio = df['Edad'].mean()
df['Edad'].fillna(promedio, inplace = True)

promedio2 = df['Peso'].mean()
df['Peso'].fillna(promedio2, inplace = True)

promedio3 = df['Ingresos'].mean()
df['Edad'].fillna(promedio3, inplace = True)

print(df)

  Nombre   Edad       Fecha Género     Ciudad  Altura   Peso  Ingresos
0   Juan  25.00  31/01/2020      M     Madrid     175  70.00   50000.0
1  María  32.00  31/01/2020      F       None     163  71.25   60000.0
2  Pedro  31.75        None   None     Madrid     180  80.00   40000.0
3    Ana  42.00  31/01/2020      F   Valencia     158  60.00       NaN
4   Luis  28.00  01/31/2020      M  Barcelona     170  75.00   55000.0

In [7]:
df.fillna('SR', inplace=True)

print(df)

  Nombre   Edad       Fecha Género     Ciudad  Altura   Peso Ingresos
0   Juan  25.00  31/01/2020      M     Madrid     175  70.00  50000.0
1  María  32.00  31/01/2020      F         SR     163  71.25  60000.0
2  Pedro  31.75          SR     SR     Madrid     180  80.00  40000.0
3    Ana  42.00  31/01/2020      F   Valencia     158  60.00       SR
4   Luis  28.00  01/31/2020      M  Barcelona     170  75.00  55000.0